@model ContosoSite.Models.Artist

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Художник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            Номер телефона
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
